<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测测测测测测试</title>
</head>
<body>
<script src="js/jquery/2.0.0/jquery.min.js"></script>
<link href="css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
<script src="js/bootstrap/3.3.6/bootstrap.min.js"></script>
<script src="js/vue/2.5.16/vue.min.js"></script>
<script src="js/axios/0.17.1/axios.min.js"></script>
<!--日期进行格式化-->
<script src="js/moment/2.22.2/moment.js"></script>
<!--自定义前台页面样式-->
<link href="css/fore/style.css" rel="stylesheet">
<!--注册主体页面-->
<div th:fragment="html">
    <script>
        $(function() {
            var data4Vue = {
                uri:'foreregister',
                result: [],
                user:{name:'',password:'',repeatpassword:''}
            };
            var vue=new Vue({
                el:'#workingArea',
                data:data4Vue,
                mounted:function () {
                    // 先执行钩子函数
                    linkDefaultActions();
                },
                methods:{
                    register:function () {
                        var url=this.uri;
                        if (0==this.user.name.length) {
                            $("span.errorMassage").html("请输入用户名");
                            $("div.registerErrorMessageDiv").css("visibility","visible")
                            return;
                        }
                        if (0==this.user.password.length) {
                            $("span.errorMassage").html("请输入密码");
                            $("div.registerErrorMessageDiv").css("visibility","visible")
                            return;
                        }
                        if (0==this.user.repeatpasswordlength) {
                            $("span.errorMassage").html("请再次输入密码");
                            $("div.registerErrorMessageDiv").css("visibility","visible")
                            return;
                        }
                        if (0==this.user.repeatpassword!=this.user.password) {
                            $("span.errorMassage").html("两次输入的密码不一致");
                            $("div.registerErrorMessageDiv").css("visibility","visible")
                            return;
                        }
                        axios.post(url,this.user).then(function (response) {
                            var result=response.data();
                            if (result.code==0) {
                                location.href="registerSuccess";
                            }
                            else {
                                $("span.errorMassage").html(result.message);
                                $("div.registerErrorMessageDiv").css("visibility","visible");
                            }
                        });
                    }
                }
            });
        })
    </script>
    <div class="registerDiv">
        <!--设置错误警告样式-->
        <div class="registerErrorMessageDiv">
            <div class="alert alert-danger" role="alert">
                <!--点击元素使其消失  button元素被定义为一个关闭按钮-->
                <button type="button" class="close" data-dismiss="alter" aria-label="Close"></button>
                <span class="errorMassage"></span>
            </div>
        </div>
        <table class="registerTable" align="center">
            <tr>
                <td class="registerTip registerTableLeftTD">请设置会员名</td>
                <td></td>
            </tr>
            <tr>
                <td class="registerTableLeftTD">设置登录密码</td>
                <td class="registerTableRightTD"><input v-model="user.name" placeholder="会员名称设置成功后将无法修改"> </td>
            </tr>
            <tr>
                <td class="registerTip registerTableLeftTD">请设置登录密码</td>
                <td class="registerTableRightTD">登录时验证，保护账户信息</td>
            </tr>
            <tr>
                <td class="registerTableLeftTD">登陆密码</td>
                <td class="registerTableRightTD"><input v-model="user.password" type="password" placeholder="设置你的密码"></td>
            </tr>
            <tr>
                <td class="registerTableLeftTD">密码确认</td>
                <td class="registerTableRightTD"><input v-model="user.repeatpassword" type="password" placeholder="请再次输入你密码"></td>
            </tr>
            <!--将两列合并，提供提交按钮进行提交-->
            <tr colspan="2" class="registerButtonTD">
                <a @click="register"><button>提    交</button></a>
            </tr>
        </table>

    </div>
</div>
</body>
</html>