<div class th:fragment="html">
	<script>
		$(function(){
			var keywords = getUrlParms("keywords");
	        var data4Vue = {
	        		uri:'foresearch',
	        		productVos:[]
	        };
	        //ViewModel
	        var vue = new Vue({
	            el: '#workingArea',
	            data: data4Vue,
	            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
	            	this.load();
	            },        
	            methods: {
	            	load:function(){
	                    var url =  this.uri+"?keywords="+keywords;
	                    axios.post(url).then(function(response) {
	            	        vue.productVos = response.data.data;
	                        vue.$nextTick(function(){
	        	            	linkDefaultActions();
	                        })
	                    });
	            	}
	            }
	        });       			
		})
	</script>

	<div id="searchResult">
		<div class="searchResultDiv">
			<div th:replace="include/fore/productsBySearch::html" ></div>	
		</div>
	</div>
</div>
