<div th:fragment="html">
    <div class="homepageCategoryProducts">
        <div class="eachHomepageCategoryProducts" v-for="c in categories">
            <div class="left-mark"></div>
            <a :href="'category?cid='+c.category.id" class="categoryTitle" >{{c.category.name}}</a>
            <br>
            <div class="productItem"  v-for="p,index in c.productVos" v-if="index<5" >
                <!--<a :href="'product?pid='+p.id">-->
                    <!--<img width="100px" :src="'img/productSingle_middle/'+p.firstProductImage.id+'.jpg'">-->
                <!--</a>-->

                <a class="productItemDescLink" href="'product?pid='+p.product.id">
									<span class="productItemDesc">[推荐]
									{{p.product.title | subStringFilter(0,20)}}
									</span>
                </a>
                <span class="productPrice">
									{{p.product.promotePrice | formatMoneyFilter}}
								</span>
            </div>
            <div style="clear:both"></div>
        </div>
        <img id="endpng" class="endpng" src="img/site/end.png">
    </div>
</div>
